
* {
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    /* font-weight: bold; */
    text-transform: uppercase;
  }
  
  nav {
    background-color: rgb(76, 72, 72);
    background-color: rgb(96, 95, 95);

    color: white;
    /* display: -ms-grid; */
    display: grid;
    /* -ms-grid-columns: 30% 60%; */
     grid-template-columns: 25% 70%;
    /* -webkit-column-gap: 10%; */
    column-gap: 10%;
    padding: 0% 6%;
  }
  section{
    background-color: wheat;
  }
  nav .array_inputs {
    /* display: -ms-grid; */
    display: grid;
    -ms-grid-columns: 60% 20%;
        grid-template-columns: 85% 40%;
    place-content: center;
    padding: 13% 0%;
  }
  
  
  nav .array_inputs #a_size {
    padding: 5% 10%;

    background-color: red;
  }
  
  nav .array_inputs #a_speed {
    padding: 5% 0%;
  }
  
  nav .array_inputs #a_generate  {
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    width: 200px;
    padding: 2% 0% 2% 0%;
    margin-left: -20px;
    border-radius: 20px;
  }
  
  nav .array_inputs #a_generate:hover {
    cursor: pointer;
    background-color: rgb(25, 23, 25);
    color: white;
  }
  
  /* nav .header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  } */
  
  nav .header_right .nav-heading {
    display: inline-block;
    font-size: xxx-large;
    padding: 5% 0% 3% 0%;
    margin-left: -50px;
  }
  
  nav .header_right .algos {
    display: -ms-grid;
    display: grid;
    /* -ms-grid-columns: (16.66667%)[3]; */
        /* grid-template-columns: repeat(6, 16.66667%); */
        grid-template-columns: repeat(5,18%);
    place-content: center;
    padding: 2% 0%;
  }
  
  nav .header_right .algos button {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 10px;

    outline: none;
    padding: 5% 0%;
    font-size: x-large;
  }
  
  nav .header_right .algos button:hover {
    background-color: rgb(32, 31, 32);
    color: wheat;
    cursor: pointer;
    border-radius: 15px;
  }
  
  nav .header_right .algos .butt_locked {
    background-color: transparent;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_locked:hover {
    background-color: transparent;

    cursor: pointer;
  }
  
  nav .header_right .algos .butt_selected {
    background-color: rgb(253, 251, 251);
    color: green;
  }
  
  nav .header_right .algos .butt_selected:hover {
    background-color: rgb(41, 36, 36);
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_unselected:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  
  section #Info_Cont1 button {
    background-color: transparent;
    outline: none;
    border: none;
    color: darkred;
    padding: 10%;
  }


  section #Info_Cont2  button {
    background-color: transparent;
    outline: none;
    display: grid;
    border: none;
    color: darkred;
    padding-left: 60px;
    padding-top: 50px;
  }

  section #Info_Cont1 button , #Info_Cont2  button:hover {
    cursor: pointer;
  }
  
  section #array_container {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 200px;
    height: 47vh;
    text-align: center;
    justify-content: center;
  }
  

  
  .hide {
    display: none;
  }

  #input{
      color: darkred;
      margin-left: 40px;
  }

  #inputnumber{
      margin-left:80px;
      margin-top: 20px;
      height: 30px;
      width: 60px;
      border-radius: 10%;
      border: wheat;

  }

  #found{
    background-color: orange;
    padding: 20px 20px 20px 20px;
border-radius: 10%;
    color: black;
    margin-top: 30px;
    margin-left: 40px;
    text-align: center;
    width: 100px;
  }
 #notfound{
    background-color: orange;
    padding: 10px 20px 9px 20px;
    margin-top: 30px;
    margin-left: 40px;
border-radius: 10%;

    text-align: center;
    color: black;
    width: 100px;
  }
  /*
  @media (max-width: 480px)//Mobiles
  {
      
  }
  
  @media (min-width: 481px) and (max-width: 1250px)//Tablets
  {
  
  }
  
  @media (min-width: 1251px)//Laptops and up
  {
  
  }
  */
  
  @media (max-width: 480px)
  /* //Mobiles */
  {
      
  }
  
  @media (min-width: 481px) and (max-width: 1250px)
  /* //Tablets */
  {
  
  }
  
  @media (min-width: 1251px)
  {
    /* Laptops and up */
  
  }
  
  